<h1>Créer un nouvel évènement</h1>

<div id="new-event-form">
  <%= simple_form_for (@event) do |f| %>
    <div class="form-input-group">
      <div class="form-input">
        <%= f.input :name, label: false, placeholder:"Titre" %>
      </div>
      <div class="form-input top-bordered">
        <%= f.input :description, label: false, placeholder:"Description" %>
      </div>
    </div>
    <div class="form-input-group">
      <div class="form-input">
        <p>Toute la journée</p>
        <div class="custom-control custom-switch" class="form-input">
          <input type="checkbox" class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1"></label>
          <%= hidden_field_tag 'switchvalue' %>
        </div>
      </div>
      <div class="form-input bordered">
        <p class="label-datepicker">Du</p> &nbsp;&nbsp;&nbsp;
        <%= f.input :start_date, as: :string, required: false, label: false, input_html: {class: "datepicker"} %>
      </div>
      <div class="form-input">
        <p class="label-datepicker">Au</p> &nbsp;&nbsp;&nbsp;
        <%= f.input :end_date, as: :string, required: false, label: false, input_html: {class: "datepicker"} %>
      </div>
    </div>
</div>
    <%= f.submit "Ajouter", class: "submit-form-btn" %>
  <% end %>
</div>
